<!DOCTYPE html>  
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Архив</title>
  <link rel="stylesheet", type="text/css", href="static/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <style>
    .nav-link {
      color: white;
    }
    a {
      text-decoration: none;
      font-family: 'Gotham';
      font-style: normal;
    }
    .button {
      padding: 15px 30px;
      font-size: 18px;
      color: white;
      background-color: #ff0000;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    .button:hover {
      background-color: #cc0000;
    }
  </style>
</head>
<body style="background-color: #e1e5fc; color: #000e54;">
  <nav class="navbar navbar-dark bg-dark navbar-expand-xl">
    <a class="menu-item" href="/" class="nav-link">Главная</a>
  </nav>
  <h1 style="text-align: center;">Старые сборки</h1>
  <p style="text-align: center; font-family: Gilroy; font-size:18px">Здесь находятся ссылки на старые сборки и версии виндовс шиншилла эдишн.</p>
  <button class="button" onclick="window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'">
      Нажми меня!
  </button>
</body>  
</html>