<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Windows Shinshilla Edition</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="logo">
                <a href="https://learn.microsoft.com/ru-ru/windows/apps/develop/accessibility"><img src="static/img/logo.png" alt="Microsoft Logo"></a>
                <h1>Windows Shinshilla Edition</h1>
            </div>
        </div>

        <!-- <script> 
            function displayWeather(data) {
                const weatherElement = document.getElementById('weather-info');
                if (data && data.current) {
                    weatherElement.innerHTML = `
                        ${data.current.temp_c}°C | ${data.location.name} 
                        <img src="https:${data.current.condition.icon}" style="vertical-align: middle;">
                    `;
                }
            }
        </script> -->

        <div id="nav">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/photos">Фотографии</a></li>
                <li><a href="/instrs">Инструкции</a></li>
                <li><a href="https://t.me/windowsshinshillaeditionofficial">Телеграм</a></li>
                <li><a href="/wallpapers">Обои</a></li>
                <li><a href="/download">Загрузки</a></li>
                <li><a href="/otzivy">Отзывы</a></li>
            </ul>
        </div>

        <div id="content">
            <div class="hero">
                <h2>Windows Shinshilla Edition</h2>
                <p>Представляем вам <span class="highlight">самую дружелюбную</span> версию Windows 11 LTSC 2024, оптимизированную для работы даже на старых компьютерах! Наша сборка сочетает в себе <span class="highlight">мощь Windows 11</span> и производительность как в Windows 7</p>

                <div class="fun-fact">
                    Интересный факт: Cборка основана на больных фантазиях автора!
                </div>
            </div>

            <div class="tiles-container">
                <div class="tile">
                    <div class="tile-bg"></div>
                    <img src="static/img/WindowsUpdate.png" alt="Speed Logo" width="50" height="50">
                    <h3>Быстрота системы</h3>
                    <div class="description">
                        Скорость компьютера высокая, даже на старых компьютерах!
                    </div>
                </div>

                <div class="tile">
                    <div class="tile-bg"></div>
                    <img src="static/img/WindowsDefender.png" alt="Defender Logo" width="50" height="50">
                    <h3>Защита от вирусов</h3>
                    <div class="description">
                        Встроенный антивирус Windows Defender защищает вас от всех угроз!
                    </div>
                </div>

                <div class="tile">
                    <div class="tile-bg"></div>
                    <img src="static/img/games.png" alt="Defender Logo" width="50" height="50">
                    <h3>Веселые игры</h3>
                    <div class="description">
                        Все классические игры из Windows 7: Сапер, Пасьянс, и даже Purble Place!
                    </div>
                </div>

                <div class="tile">
                    <div class="tile-bg"></div>
                    <img src="static/img/Microsoft-Office.png" alt="Office Logo" width="50" height="50">
                    <h3>Продуктивность</h3>
                    <div class="description">
                        Система специально настраивает вас на продуктивную работу!
                    </div>
                </div>

                <div class="tile">
                    <div class="tile-bg"></div>
                    <img src="static/img/Windows_Update_2009.webp" alt="Update Logo" width="50" height="60">
                    <h3>Обновления</h3>
                    <div class="description">
                        Их отсутвие позволяет системе работать стабильно!
                    </div>
                </div>

                <div class="tile">
                    <div class="tile-bg"></div>
                    <img src="static/img/Windows_Live_Messenger_icon.png" alt="Update Logo" width="50" height="50">
                    <h3>Общение</h3>
                    <div class="description">
                        В комплекте идёт Windows Live Messenger, чтобы общаться с друзьями!
                    </div>
                </div>

                <div class="tile">
                    <div class="tile-bg"></div>
                    <img src="static/img/recycle_bin.png" alt="Recycle bin" class="tile-logo" width="50" height="50">
                    <h3>Важный софт</h3>
                    <div class="description">
                        Все необходимое уже в комплекте: браузер, медиаплеер, архиватор и офисные программы.
                    </div>
                </div>

                <div class="tile">
                    <div class="tile-bg"></div>
                    <img src="static/img/ChinchillaLogo.png" alt="Microsoft Logo" class="tile-logo" width="50" height="50">
                    <h3>Шиншиллы</h3>
                    <div class="description">
                        Специальные темы и обои с Бони и Нюшей, а также куча твиков и персонализации!
                    </div>
                </div>
            </div>

            <div class="requirements">
                <div class="req-box">
                    <h3>Минимальные требования</h3>
                    <ul>
                        <li>Процессор: 1.5 ГГц, 2 ядра (поддержка SSE4.2)</li>
                        <li>Оперативная память: 2 ГБ</li>
                        <li>Место на диске: 30 ГБ</li>
                        <li>Видеокарта: в ассортименте</li>
                        <li>Наличие USB-портов.</li>
                    </ul>
                </div>
                
                <div class="req-box">
                    <h3>Рекомендуемые требования</h3>
                    <ul>
                        <li>Процессор: 2.2 ГГц, 2 ядра (поддержка SSE4.2)</li>
                        <li>Оперативная память: 4 ГБ DDR4</li>
                        <li>Место на диске: 60 ГБ(желательно SSD)</li>
                        <li>Видеокарта: с поддержкой HD, WDDM и 128 МБ видеопамяти</li>
                        <li>UEFI, Secure Boot, Интернет.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="footer">
            <p>Команда Windows Shinshilla с любовью :), 2025</p>
            <p>Специально для Бони и Нюши, и всех любителей шиншиллок!</p>
            <p>Windows Shinshilla Edition не является продуктом корпорации Microsoft.</p>
        </div>
    </div>
</body>